body {
    background: url('./fundo.jpg');
}

title {
    color: mediumpurple;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: mediumpurple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-indent: 30px;
    margin: 0 75px;
}

img.first-image {
    margin: 0 700px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 23%;
}

Img.sec-image {
    margin: 0 600px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 35%;
}